
report.html
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/database.cpython-37.pyc
__pycache__/graphics.cpython-37.pyc
__pycache__/mail_notif.cpython-37.pyc
cpu_graph.png
database/database.db
database/database.db-journal
io_graph.png
memory_graph.png
report.html
report.pdf
teste.py
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/scripts.iml
__pycache__/arguments.cpython-37.pyc
modules/database/sqlite3.exe
modules/database/database.db
modules/__pycache__/database.cpython-37.pyc
modules/__pycache__/graphics.cpython-37.pyc
modules/__pycache__/mail_notif.cpython-37.pyc
*.png
*.pyc
*.xml___jb_tmp___
database/sqlite3.exe
*.ini
test.py
test_freedisk.py
